@import "../utils/main.utils.scss";
#instagram {
    margin-top: 79px;
}

.inst-container {
    @include flex(column, null, center);
    h4 {
        @include font($nunito, 48px, 700, 57px, $black);
    }
    p {
        max-width: 544px;
        text-align: center;
        margin: 12px 0px 40px;
    }
}

.inst-wrapper-photo {
    width: 100%;
    @include flex(row, null, null);
    .inst-photo__item {
        flex: 1;
        height: 241px;
        position: relative;
        &:nth-child(1) {
            background: url(../img/instagram/instagram-img1.webp) no-repeat;
        }
        &:nth-child(2) {
            background: url(../img/instagram/instagram-img2.webp) no-repeat;
        }
        &:nth-child(3) {
            background: url(../img/instagram/instagram-img3.webp) no-repeat;
        }
        &:nth-child(4) {
            background: url(../img/instagram/instagram-img4.webp) no-repeat;
        }
        &:nth-child(5) {
            background: url(../img/instagram/instagram-img5.webp) no-repeat;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            transition: .5s;
            opacity: 0;
        }
        &::before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            width: 67px;
            height: 67px;
            background: url(../img/instagram/instagram-icon.svg);
        }
        &::after {
            z-index: 2;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.40);
        }
        &:hover {
            &::after,
            &::before {
                opacity: 1;
            }
        }
    }
}