@import "../utils/main.utils.scss";
#our-product {
    margin-top: 128px;
}

.our-product__container {
    @include flex(column, null, center);
}

.our-product__tabs {
    @include flex(row, null, null);
    margin: 24px 0px 50px 0px;
    button {
        @include font($dm, 16px, 500, 21px, $gray);
        background-color: transparent;
        &:hover {
            color: $green;
        }
        &:nth-child(2) {
            margin: 0px 24px;
        }
    }
}

.wrapper-our-product__products {
    @include flex(row, null, null);
    min-height: 283px;
    .card-product__item {
        width: 270px;
        height: 283px;
        margin: 0px 12px;
        @include flex(column, flex-start, null);
        padding: 7px 32px;
        img {
            display: block;
            max-height: 153px;
            margin: 0 auto;
        }
        .h5 {
            @include font($nunito, 24px, 600, 28px, $black);
            margin-top: 12px;
        }
        .product_wrapp-stars {
            @include flex(row, null, null);
            margin: 10px 0px 13px;
            li {
                margin-right: 5px;
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
        .product__price {
            @include font($nunito, 16px, 600, 19px, $black)
        }
    }
}

#view-all-product {
    width: 131px;
    height: 55px;
    margin-top: 40px;
}

.product-tab__active {
    color: $green !important;
}