section#about-us
    .about-us__container.container 
        .about-us__wrapper-img 
            img(src="./img/about-us/about-us.webp", alt="flower")
        .about-us__text-content 
            .about-us__up-title About Us
            h3.h3 Continue to Develop to Became Global Company
            .about-us__text-wrapper 
                p.s-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu, tempor, accumsan sit amet nunc cursus. Nec tristique at in erat lectus mas sa diam. Lectus elit, nulla elementum fringilla at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu, tempor, accumsan sit amet nunc cursus. Nec tristique at in erat lectus mas sa diam. Lectus elit, nulla elementum fringilla at.
                p.s-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu, tempor, accumsan sit amet nunc cursus. 
            button#about-us-rm-btn.btn Read More