section#collection
    .collection-container.container 
        .collection-text__wrapper 
            h3.h3 We have lots of plants collection for you and your family
            a(href="#")#see-collection__btn See all collection
                img(src="./img/collection/Arrow.svg", alt="arrow")
        ul.collection-img__content  
            li.collection-img-wrapper 
                img(src="./img/collection/collection-img1.webp", alt="flower")
            li.collection-img-wrapper 
                img(src="./img/collection/collection-img2.webp", alt="flower")  
            li.collection-img-wrapper 
                img(src="./img/collection/collection-img3.webp", alt="flower")
