header.header 
    .header-container.container 
        a(href="#").logo Plant
        .header-nav-bar 
            nav.header-nav 
                ul
                    li 
                        a(href="./page/page404.html") Home
                    li 
                        a(href="#") Services
                    li
                        a(href="#") About Us
                    li 
                        a(href="#") Blog
                    li 
                        a(href="#") Contact
            .header-login-btn-wrapper 
                button#btn-login login
                button.btn#btn-registration Sign Up
    .header-main.container 
        .header-main__content
            h1.h1 Growing Beautiful Plants at Home
            p.header-text.s-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu, tempor, accumsan sit amet nunc cursus. Nec tristique at in erat lectus mas sa diam. Lectus elit, nulla elementum fringilla at.
            button.btn#btn-learn-more Learn More
            .header-info 
                ul
                    li
                        .wrapper-num 
                            .number.num-1 0 
                            span + 
                        span.desk Delivery
                    li
                        .wrapper-num
                            .number.num-2 0
                            span +
                        span.desk Customers
                    li
                        .wrapper-num 
                            .number.num-3 0
                            span +
                        span.desk Product
            img(src="./img/header/leaves.webp").img-leaves
        .header-main__img
            img(src="./img/header/main-img-header.webp")


//<i class='bx bxs-user-circle'></i>