section#instagram
    .inst-container.container 
        h4 Follow Us on Instagram
        p.s-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu, tempor, accu msan sit amet nunc cursus. Nec tristique at in erat lectus
        .inst-wrapper-photo 
            a(href="#").inst-photo__item
            a(href="#").inst-photo__item
            a(href="#").inst-photo__item
            a(href="#").inst-photo__item
            a(href="#").inst-photo__item