include ../utils/mixin.pug

section#our-product 
    .our-product__container.container 
        h3.h3 Our Best Product
        ul.our-product__tabs
            li.tabs-items
                a(href="#") New Plants
            li.tabs-items
                a(href="#") New Arrivals
            li.tabs-items
                a(href="#") Sale
        ul.wrapper-our-product__products
        button#view-all-product.btn View All 
            
