section#subscribe 
    .subscribe-container.container
        .subscribe-content  
            h3.h3 Subscribe Our Newsletter
            p.subscribe-text.s-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu, at tempor, accumsan sit amet nunc cursus.  
            form(action="#").subscribe-form
                input(type="text" placeholder="Enter mail...")
                input(type="submit" value="Subscribe").btn
            img(src="./img/subscribe/flower.webp", alt="flower")