mixin head(styleSrc, titlePage)
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=DM+Sans:regular,italic,500,500italic,700,700italic' rel='stylesheet')
        link(rel='stylesheet' href='https://unpkg.com/aos@next/dist/aos.css')
        link(href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet')
        link(rel='stylesheet' href='https://unpkg.com/swiper@8/swiper-bundle.min.css')
        link(rel='stylesheet' href= styleSrc)
        title= titlePage